

.dashboard{
    width: 100%;
    height: 10vh;
    z-index: 3;
    &.collapsed {
        transition: all 0.5s ease-in-out;

       
    }
    
}



.first{
    display: flex;
    align-items: center;
    
}
.second{
    display: block;
    width:200px;
     text-align:"center";
     
}
.userPic{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border: 2px solid rgb(54, 78, 139);
}